body{
    background-image: url(../IMG/patterns_fabric_purple_123846_3840x2400.jpg);
    background-size: cover;
}
.caja{
    width: 400px;
    margin: auto;
}

.header img{
    width: 100%;
    border: solid 2px black;
}

.caja:hover .footer{
    opacity: .8;
}

.footer{
    width: 392px;
    background: white;
    opacity: 1;
    border: solid 2px;
    padding: 4px;
    text-align: center;
    position:relative;
    top: -66px;
}

ul{
    background: rgba(135, 206, 250, 0.664);
}

li{
    background: blueviolet;
    display: inline-block;
    width: 65px;
    text-align: center;
}
li div{
    background: black;
    color: white;
    width: 65px;
    position: absolute;
    display: none;
    cursor: pointer;
}
li:hover div{
    display: block;
}